<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>clarity</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|Raleway">
    <link rel="stylesheet" href="/css/lib/normalize.css">
    <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="title">
            clarity
          </h1>
        </div>
        <div class="row">
          <h3 class="subtitle">
            closing the student-teacher feedback loop
          </h3>
        </div>
      </div>
    </header>
    <section id="welcome">
      <div class="container">
        <h1 class="title">
          Welcome back!
        </h1>
      </div>
    </section>
    <div class="container">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label for="login">Login (email)</label>
          <input type="email" class="form-control" id="login" placeholder="login@user.com">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
      </form>
    </div>

    <!-- Libraries -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/handlebars.js"></script>

    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Models -->
    <script src="/js/post-model.js"></script>
    <script src="/js/search-model.js"></script>

    <!-- Views -->
    <script src="/js/main-view.js"></script>
    <script src="/js/search-view.js"></script>
    <script src="/js/newsfeed-view.js"></script>

    <!-- Main -->
    <script src="/js/main.js"></script>
  </body>
</html>
