<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>clarity</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|Raleway">
    <link rel="stylesheet" href="/css/lib/normalize.css">
    <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/lib/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="title">
            clarity
          </h1>
        </div>
        <div class="row">
          <h3 class="subtitle">
            closing the student-teacher feedback loop
          </h3>
        </div>
      </div>
    </header>

    <section id="signup">
      <div class="container">
        <div class="form-container">
          <h1>Sign up today!</h1>
          <form id="login">
            <hr>
              <div class="accounttype">
                <input type="radio" value="teacher" id="radioOne" name="account" checked/>
                <label for="radioOne" class="radio" chec>Teacher</label>
                <input type="radio" value="student" id="radioTwo" name="account" />
                <label for="radioTwo" class="radio">Student</label>
              </div>
            <hr>
            <label class="icon-block" for="name"><i class="fa fa-envelope "></i></label>
            <input type="text" name="email" id="email" placeholder="Email" required/>
            <label class="icon-block" for="name"><i class="fa fa-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Name" required/>
            <label class="icon-block" for="name"><i class="fa fa-shield"></i></label>
            <input type="password" name="password" id="name" placeholder="Password" required/>

            <input type="submit" class="button" data-destination="/teacher"id="submit-form" style="width:100px; height:45px; text-align:center"/>
          </form>
        </div>
      </div>
    </section>

    <!-- Libraries -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/handlebars.js"></script>

    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Script to toggle the destination link -->
    <script>
      //teacher
      $("#radioOne").click(function() {
        $("#submit-form").attr("data-destination", "/teacher");
      });
      //student
      $("#radioTwo").click(function() {
        $("#submit-form").attr("data-destination", "/student");
      });
      $("#login").submit(function(event) {
        event.preventDefault();
        location.href = $("#submit-form").attr("data-destination");
      });
    </script>

  </body>
</html>