extend layout

block content
  div(id='search-wrapper')
    form(id='search-form')
      input(name='query', type='text', autofocus, autocomplete='off' placeholder='Search for music')
      input(type='submit' value='')
    div(id='search-menu')

  div(id='newsfeed-wrapper')
    div(id='pending-newsfeed')
    div(id='newsfeed')

  script(type='text/x-handlebars-template' id='search-results-template')
    {{#unless results}}
    div.no-result
      p.no-result-label No Results found.
    {{else}}
    {{#each results}}
    div.result(api='{{api}}', title='{{title}}', src='{{src}}')
      img(class='icon' src='img/{{api}}-icon.png')
      p.result-label {{title}}
    {{/each}}
    {{/unless}}

  script(type='text/x-handlebars-template' id='newsfeed-post-template')
    {{#if pending}}
    div.newsfeed-post.pending-post
      form
        iframe(type='text/html' width='100%' height='80px' frameborder='0' src='{{post.src}}')
        input(type='submit' name='submit' value='Submit')
        input(type='button' name='cancel' value='Cancel')
    {{else}}
    div.newsfeed-post
      p(id='{{post.id}}')
      iframe(type='text/html' width='100%' height='80px' frameborder='0' src='{{post.src}}')
      input(type='button' name='upvote' value='Upvote')
      input(type='button' name='remove' value='Remove')
    {{/if}}
