extend layout

block content
  h1 Callback Newsfeed
  div.container
    form(action='/search', method='post', id='search-form')
      input(name='query', type='text',autofocus,placeholder='Enter something to search for')
      input(type='submit', class='btn btn-block btn-primary')
    div.row
      div.col-md-4
        div(id="soundcloud-result")
      div.col-md-4
        div(id="youtube-result")
      div.col-md-4
        div(id="reddit-result")
