<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Callback Newsfeed</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/newsfeed.css">
  </head>
  <body>
    <header>
      <div class="container">Callback Newsfeed</div>
    </header>


    <div id="search-wrapper">
      <form id="search-form">
        <input name="query" type="text" autocomplete="off" placeholder="Search for music">
      </form>
      <div id="search-results"></div>
    </div>

    <div id="sort-wrapper" class="text-center">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default">Upvotes</button>
        <button type="button" class="btn btn-default selected">Relevance</button>
      </div>
    </div>

    <div id="newsfeed-wrapper">
      <div id="pending-newsfeed"></div>
      <div id="newsfeed"></div>
    </div>

    <script type="text/x-handlebars-template" id="search-results-template">
      {{#if results}}
        {{#each results}}
          <div class="result">
            <img class="icon" alt="API Icon" src="img/{{ api }}-icon.png">
            <p class="result-label">
             {{title}}
            </p>
          </div>
        {{/each}}
      {{else}}
        <div class="no-result">
          <p class="no-result-label">
            No Results found.
          </p>
        </div>
      {{/if}}
    </script>

    <script type="text/x-handlebars-template" id="newsfeed-post-template">
      <div class="post">
        <div id="{{ id }}" />
        <iframe type="text/html" width="100%" height="80px" frameborder="0" src="{{ source }}"/>
        <p class="upvotes">{{ upvotes }}</p>
        <button type="button" class="upvote">
          <i class="glyphicon glyphicon-chevron-up"></i>
        </button>
        <button type="button" class="remove">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </script>

    <!-- Libraries -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/handlebars.js"></script>

    <!-- Models -->
    <script src="js/post-model.js"></script>
    <script src="js/search-model.js"></script>

    <!-- Views -->
    <script src="js/main-view.js"></script>
    <script src="js/newsfeed-view.js"></script>
    <script src="js/search-view.js"></script>

    <!-- Main -->
    <script src="js/main.js"></script>
  </body>
</html>
