extend layout

block content
  div(id='search-wrapper')
    form(id='search-form')
      input(name='query', type='text', autofocus, autocomplete='off' placeholder='Search for music')
      input(type='submit' value='')
    div(id='search-menu')

  div(id='newsfeed-wrapper')
    div(id='pending-post')
    div(id='newsfeed')

  script(type='text/x-handlebars-template' id='search-results-template')
    {{#each results}}
    div.result(api='{{api}}', title='{{title}}', src='{{src}}')
      img(class='icon' src='img/{{api}}-icon.png')
      p.result-label {{title}}
    {{/each}}

  script(type='text/x-handlebars-template' id='newsfeed-post-template')
    {{#if pending}}
    form(id='pending-form')
      p {{post.title}}
      input(type='submit' value='Post')
    {{else}}
    div.newsfeed-post
      p(id='{{post.id}}')
      iframe(type='text/html' width='100%' height='80px' frameborder='0' src='{{post.src}}')
    {{/if}}
