extend layout

block content
  h1 Callback Newsfeed
  div.container
    form(action='/search', method='post', id='search-form', class='text-center')
      input(name='query', type='text',autofocus,placeholder='Enter something to search for')
      input(type='submit', class='btn btn-block btn-primary', disable)
      small.youtube-post-load.text-success
        | YouTube client loaded
    div.row
      div.col-md-4
        div.result-wrappers(id="soundcloud-result")
      div.col-md-4
        div.result-wrappers(id="youtube-result")
      div.col-md-4
        div.result-wrappers(id="spotify-result")
