doctype html
html
  head
    title Callback Newsfeed
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')

    script(src="/js/lib/jquery.min.js")
  body
    header
      div.container
        | Callback Newsfeed

    block content

    //- Libraries
    script(src='js/lib/bootstrap.min.js')
    script(src='js/lib/handlebars.js')

    //- Utilities
    script(src='js/util.js')

    //- Models
    script(src='js/newsfeed-model.js')
    script(src='js/search-model.js')

    //- Views
    script(src='js/main-view.js')
    script(src='js/newsfeed-view.js')
    script(src='js/search-view.js')

    //- Main
    script(src='js/main.js')



    //- script(src="/js/search.js")
    //- script(src="/js/script.js")
