<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Callback Newsfeed</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='css/styles.css'>
    <link rel='stylesheet' href='css/search.css'>
    <link rel='stylesheet' href='css/newsfeed.css'>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Not found</h1>
    <p>The requested path was not found.</p>
  </body>
</html>
