#search-wrapper {
  width: 600px;
  padding: 10px;
  margin: 40px auto;
}

#search-menu {
  position: absolute;
  width: 540px;
  background-color: white;
  border: 1px solid gray;
  display: none;
}

#search-form input[type='text'] {
  width: 540px;
  height: 40px;
  font-size: 20px;
  padding: 8px;
  outline: 0px;
  margin: 0px;
}

#search-form input[type='submit'] {
  background: url('/img/magnifying-glass-icon.png');
  border: 0px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0px;
  outline: 0px;
  vertical-align: bottom;
}

div.result {
  padding: 5px;
}

div.no-result {
  padding: 5px;
}

div.result:hover {
  background-color: #dff0d8;
  cursor: pointer;
}

p.result-label {
  margin: 0px 0px 0px 5px;
  display: inline-block;
}

p.no-result-label {
  margin: 0px 0px 0px 5px;
  display: inline-block;
  font-weight: bold;
}

.icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
