body {
  font: 14px/1.5 Tahoma, Helvetica, Sans-Serif;
  margin: 0;
  background-color: #e9eaed;
}
header {
  padding: 10px 0;
  background-color: #3b5998;
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.newsfeed-wrapper {
  margin: auto;
  width: 50%;
}
.newsfeed-wrapper ul {
  list-style-type: none;
}
.newsfeed-wrapper li {
  border-radius: 3px;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.newsfeed-wrapper li form {
  padding: 0;
}
.submit-wrapper {
  background-color: #eaeaea;
  padding: 10px 0;
}
#search-form .btn-primary{
  background-color: #3b5998;
}

#search-form input[type='text'] {
  width: 90%;
  font-size: 20px;
  border: 0;
  outline: none;
  margin: 15px auto;
}

#soundcloud-result iframe {
  height: 100px;
}

.result-wrappers {
  width: 100%;
  padding: 15px;
  color: #666;
  text-align: center;
}
.result-wrappers:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.youtube-post-load {
  display: none;
}