body {
  color: black;
  font: 16px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: #ecf0f1; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Raleway", Cambria, Georgia, Serif; }

header {
  min-width: 960px;
  color: white;
  background-color: #5E388F;
  padding: 20px 0 15px;
  overflow: hidden; }

section {
  margin-top: 80px; }
  section h1, section h2, section h3 {
    text-align: center; }

.container {
  width: 960px;
  margin: 0 auto; }

.form-container {
  padding: 10px 0; }

.title {
  font-size: 50px;
  font-weight: 700; }

.subtitle {
  font-size: 30px;
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif; }

#signup, #question-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c; }
  #signup p, #question-form p {
    font-size: 12px;
    width: 150px;
    display: inline-block;
    margin-left: 18px; }
  #signup h1, #question-form h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px; }
  #signup .form-container, #question-form .form-container {
    margin: 20px auto;
    width: 343px;
    height: auto;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    border: solid 1px #cbc9c9; }
  #signup input[type=radio], #question-form input[type=radio] {
    visibility: hidden; }
  #signup form, #question-form form {
    margin: 0 30px; }
  #signup label.radio, #question-form label.radio {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px; }
  #signup label.radio:before, #question-form label.radio:before {
    background: #5E388F;
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%; }
  #signup label.radio:after, #question-form label.radio:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: transparent;
    top: 7.5px;
    left: 4.5px;
    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #signup input[type=radio]:checked + label:after, #question-form input[type=radio]:checked + label:after {
    opacity: 1; }
  #signup hr, #question-form hr {
    color: #a9a9a9;
    opacity: 0.3; }
  #signup input[type=text], #signup input[type=password], #question-form input[type=text], #question-form input[type=password] {
    width: 200px;
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 10px; }
  #signup input[type=password], #question-form input[type=password] {
    margin-bottom: 25px; }
  #signup .icon-block, #question-form .icon-block {
    display: inline-block;
    width: 30px;
    background-color: #5E388F;
    padding: 8px 0px 8px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    border: solid 0px #cbc9c9; }
  #signup .gender, #question-form .gender {
    margin-left: 30px;
    margin-bottom: 30px; }
  #signup .accounttype, #question-form .accounttype {
    margin-left: 8px;
    margin-top: 20px; }
  #signup a.button, #signup input.button, #question-form a.button, #question-form input.button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 6px 25px 0px 20px;
    margin: 10px 8px 20px 0px;
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    width: 50px;
    height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #5E388F;
    -webkit-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
    -moz-box-shadow: 0 3px rgba(58, 87, 175, 0.75);
    box-shadow: 0 3px rgba(58, 87, 175, 0.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative; }
  #signup a.button:hover, #question-form a.button:hover {
    top: 3px;
    background-color: #462a6a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

#logout {
  position: relative;
  margin-top: 35px; }

.understanding {
  border-top: solid 2px white;
  height: 20px; }

#presentation {
  width: 100%;
  height: 700px; }

#questions {
  width: 90%;
  margin-top: 50px; }

.question {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  margin-bottom: 13px;
  padding: 0px 10px;
  font: 14px;
  color: #444; }

.question .meta {
  overflow: hidden;
  padding-bottom: 3px; }

.question h2 {
  letter-spacing: 0.5px;
  font-size: 14px; }

.question a {
  color: #527EC9;
  text-decoration: none; }

.question img {
  width: 100%; }

.question .actions {
  font-size: 20px; }
  .question .actions .remove {
    font-size: 25px;
    margin-bottom: 3px; }

.question:hover {
  cursor: pointer;
  background-color: #e1d7ef; }

/*# sourceMappingURL=styles.css.map */
