<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>clarity</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|Raleway">
    <link rel="stylesheet" href="/css/lib/normalize.css">
    <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="title">
            clarity
          </h1>
        </div>
        <div class="row">
          <h3 class="subtitle">
            closing the student-teacher feedback loop
          </h3>
        </div>
      </div>
    </header>

    <section id="signup">
      <div class="container">
        <h2>Welcome David!</h2>
        <h2>Would you like to start class?</h2>
        <div class="form-container">
          <form action="/start">
            <!-- TODO: have option to select from class that they teach -->
            <label class="icon-block" for="name"><i class="fa fa-envelope "></i></label>
            <input type="text" name="class" placeholder="Class" required/>
            <label class="icon-block" for="name"><i class="fa fa-shield"></i></label>
            <input type="text" name="access" placeholder="Access Code" required/>
            <a href="/teacher/dashboard" class="button">Start </a>
          </form>
        </div>
      </div>
    </section>

    <!-- Libraries -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/handlebars.js"></script>

    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Models -->
    <script src="/js/post-model.js"></script>
    <script src="/js/search-model.js"></script>

    <!-- Views -->
    <script src="/js/main-view.js"></script>
    <script src="/js/search-view.js"></script>
    <script src="/js/newsfeed-view.js"></script>

    <!-- Main -->
    <script src="/js/main.js"></script>
  </body>
</html>