<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>clarity</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|Raleway">
    <link rel="stylesheet" href="/css/lib/normalize.css">
    <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row-fluid">
          <div class="col-md-9">
            <h1 class="title">
              clarity
            </h1>
          </div>
          <div class="col-md-3">
            <a href="/logout" id="logout" class="btn btn-link" style="color: white;">Logout</a>
          </div>
        </div>
      </div>
    </header>

    <div class="row-fluid">
      <div id="bar">
      </div>
    </div>
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3">
          <ul id="questions">
          </ul>
        </div>
        <div class="col-md-9">
          <iframe src="http://shermanleung.com/clarity" id="presentation"></iframe>
        </div>
      </div>
    </div>

    <!-- handlebars template -->
    <script type="text/x-handlebars-template" id="question-template">
      <li class="question">
        <div class="meta">
          <h2> {{ content }} </h2>
          <div class="actions">
            <a href="#" class="upvote pull-left">
              <span class="upvote-count"> {{ upvotes }}</span>
            </a>

            <a href="#" class="archive pull-right">
              <i class="fa fa-check"></i>
            </a>
          </div>
        </div>
      </li>
    </script>

    <script type="text/x-handlebars-template" id="understanding-template">
      <div class="understanding">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{understanding}}" aria-valuemin="0" aria-valuemax="100" style="width: {{understanding}}%">
          <span class="sr-only">{{understanding}}% Complete</span>
        </div>
      </div>
    </script>

    <!-- Libraries -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>


    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Models -->
    <script src="/js/teacher/bar-model.js"></script>
    <script src="/js/teacher/question-model.js"></script>

    <!-- Views -->
    <script src="/js/teacher/main-view.js"></script>


    <!-- Main -->
    <script src="/js/teacher/main.js"></script>
  </body>
</html>
