<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>clarity</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|Raleway">
    <link rel="stylesheet" href="/css/lib/normalize.css">
    <link rel="stylesheet" href="/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row-fluid">
          <div class="col-md-9">
            <h1 class="title">
              clarity
            </h1>
          </div>
          <div class="col-md-3">
            <a href="/logout" id="logout" class="btn btn-default">Logout</a>
          </div>
        </div>
      </div>
    </header>
    

    <div class="container">
      <div class="col-md-6">
        <ul id="questions">
        </ul>
      </div>
      <div class="col-md-6">
        <div class="form-container">
          <h1> What would you like clarity on? </h1>
          <form id="question-form">
            <!-- TODO: have option to select from class that they teach -->
            <div class="input-group">
              <label class="icon-block" for="content"><i class="fa fa-question"></i></label>
              <input class="form-control" type="text" name="content" placeholder="(e.g. what did David just say?)" required/>
              <input type="submit"></input>
            </div>
          </form>
        </div>
      </div>
    </div>



    <!-- handlebars template -->
    <script type="text/x-handlebars-template" id="question-template">
      <li class="question">
        <div class="meta">
          <h2> {{ content }} </h2>
          <div class="actions">
            <a href="#" class="upvote pull-left">
              <i id="up" class="fa fa-chevron-up"></i>
              <i id="down" class="fa fa-chevron-down"></i>
              <span class="upvote-count"> {{ upvotes }}</span>
            </a>

            <a href="#" class="remove pull-right">
              <i class="fa fa-trash"></i>
            </a>
          </div>
        </div>
      </li>
    </script>

    <!-- Libraries -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <!-- Helpers -->
    <script src="/js/handlebars-helpers.js"></script>

    <!-- Models -->
    <script src="/js/student/question-model.js"></script>

    <!-- Views -->
    <script src="/js/student/student-view.js"></script>
    <script src="/js/student/main-view.js"></script>


    <!-- Main -->
    <script src="/js/student/main.js"></script>
  </body>
</html>
